.mt-5rem {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.mt-5rem h2 {
  margin-bottom: 2rem;
  color: #ff1654;
  font-weight: 700;
}
.booking-table {
  background-color: #e9ebf1;
  box-shadow: 1px 1px 4px 3px #d3d3d3;
  font-size: 1.2rem;
  font-weight: 500;
}
