.header-section {
  background-color: #031c69;
  color: #fff;
}

.logo {
  color: #fff;
  font-weight: 700;
  font-size: 35px;
  text-decoration: none;
}
.logo span {
  color: #34d1ff;
}
.nav-bar { 
  text-decoration: none;
  padding-left: 35px;
  color: #fff;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1.4rem;
}
.nav-link {
  color: #fff;
}
.navbar-text {
  color: #34d1ff;
}
.navbar-text a {
  color: #fff;
  text-decoration: none;
}