.slider-h2 {
    font-size: 65px;
    font-weight: 700;
    color: #031c69;
}
.slider-h4 {
    font-size: 50px;
    font-weight: 600;
    color: #189cf0;
}
.carousel-caption {
    bottom: 17rem;
    text-align: left;
    left: 5%;
}