.footer-item {
  height: 80px;
  background-color: #0084ff;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
.footer-item h5 {
  font-size: 1rem;
}
.footer-txt {
  color: #ff1654;
}
