@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
    font-family: 'Rajdhani', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  font-size: 72px;
  font-weight: 700;
}
h2 {
  font-size: 54px;
  font-weight: 700;
}
h3 {
  font-size: 40px;
  font-weight: 600;
}
h4 {
  font-size: 32px;
  font-weight: 600;
}
h5 {
  font-size: 24px;
  font-weight: 700;
}
h6 {
  font-size: 16px;
  font-weight: 700;
}
body {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
